html,
body {
  margin: 0;
}
[contenteditable]:active,
[contenteditable]:focus,
button:active,
button:focus {
  outline: none;
}
body {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 12px;
}
canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}
.Definitions {
  display: inline-block;
  vertical-align: top;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}
.MainPlot {
  display: inline-block;
  vertical-align: top;
  position: relative;
  width: 100vh;
  height: 100vh;
}
.Outline {
  display: inline-block;
  vertical-align: top;
  height: 100vh;
}
.Definition {
  margin: 12px;
}
.Definition .PlotContainer {
  position: relative;
  box-sizing: border-box;
  width: 72px;
  height: 72px;
  box-shadow: 0px 1px 2px rgba(0,0,0,0.2);
}
.Definition.Selected .PlotContainer {
  outline: 1px solid #09c;
  box-shadow: 0px 1px 2px rgba(0,0,0,0.5);
}
.Definition .Label {
  width: 72px;
  margin-top: 4px;
  text-align: center;
}
.Divider {
  border-bottom: 1px solid #eee;
}
.AddDefinition {
  margin: 12px;
  width: 72px;
  text-align: center;
}
.PlotContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #faf8f2;
}
.PointControl {
  position: absolute;
  width: 12px;
  height: 12px;
  margin-left: -6px;
  margin-top: -6px;
  border-radius: 6px;
  background-color: #09c;
  opacity: 0.25;
}
.PointControl:hover {
  opacity: 1;
}
.OutlineContainer {
  margin: 24px;
  border-collapse: collapse;
}
.OutlineContainer td {
  vertical-align: top;
  border-right: 1px solid #eee;
  padding: 2px 6px;
  height: 1em;
}
.OutlineContainer tbody {
  border: 1px solid #eee;
}
.OutlineContainer tbody.Selected {
  background-color: #e5f4f9;
}
.OutlineContainer .OutlineNodeMain {
  vertical-align: middle;
  padding: 4px 24px 4px 6px;
}
.Variable {
  text-align: center;
}
.TextButton {
  cursor: pointer;
  font-size: 10px;
}
.TextButton:hover {
  color: #09c;
}
.AddButton {
  width: 18px;
  height: 18px;
  padding: 0;
  line-height: 18px;
  font-size: 9px;
  color: #777;
  font-family: verdana;
  font-weight: bold;
  text-shadow: 0 1px 0 rgba(255,255,255,0.5);
  background-color: #ddd;
  background-image: linear-gradient(to bottom, #eee, #ccc);
  box-shadow: 0 2px 1px rgba(0,0,0,0.16), 0 0 1px rgba(0,0,0,0.5), inset 0 1px 0 rgba(255,255,255,0.55);
  border-radius: 20px;
  border: 0px;
}
.AddButton:before {
  content: "+";
}
.AddButton:hover {
  background-image: linear-gradient(to bottom, #f3f3f3, #d3d3d3);
}
.AddButton:active {
  background-image: linear-gradient(to bottom, #cacaca, #d5d5d5);
  box-shadow: 0 1px 1px rgba(255,255,255,0.35), inset 0 0 1px rgba(0,0,0,0.5), inset 0 1px 4px rgba(0,0,0,0.4);
}
