html,
body {
  margin: 0;
}
body {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 12px;
}
canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.Sidebar {
  position: absolute;
  top: 0;
  left: 100vh;
  height: 100vh;
}
.TextButton {
  cursor: pointer;
  font-size: 10px;
}
.TextButton:hover {
  color: #09c;
}
.Curve {
  padding: 6px 0px;
}
.Curve .Extras {
  opacity: 0;
}
.Curve:hover .Extras {
  opacity: 1;
}
.Curve.Selected {
  background-color: #e5f4f9;
}
.TransformLabel {
  display: inline-block;
  min-width: 18px;
  text-align: center;
}
.Variable {
  display: inline-block;
  min-width: 48px;
  margin-right: 6px;
}
.MainPlot {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vh;
  height: 100vh;
}
.PlotContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.PointControl {
  position: absolute;
  width: 12px;
  height: 12px;
  margin-left: -6px;
  margin-top: -6px;
  border-radius: 6px;
  background-color: #09c;
  opacity: 0.25;
}
.PointControl:hover {
  opacity: 1;
}
