html,
body {
  margin: 0;
}
[contenteditable]:active,
[contenteditable]:focus,
button:active,
button:focus {
  outline: none;
}
body {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 12px;
}
canvas,
.Shader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.ShaderOverlay {
  z-index: 10;
  pointer-events: none;
}
.MainPlot {
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 270px;
  border-right: 1px solid #eee;
  box-sizing: border-box;
}
.Palette {
  position: absolute;
  right: 0px;
  width: 270px;
  top: 0px;
  height: 50vh;
  border-bottom: 1px solid #eee;
  box-sizing: border-box;
}
.Outline {
  position: absolute;
  right: 0px;
  width: 270px;
  top: 50vh;
  bottom: 0px;
}
.Scroller {
  overflow-y: auto;
}
.DraggingObject {
  position: fixed;
  z-index: 100;
  pointer-events: none;
  opacity: 0.5;
  box-shadow: 0px 2px 6px rgba(0,0,0,0.5);
}
.DraggingOverlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 200;
}
.Definition {
  margin: 12px;
}
.Definition .PlotContainer {
  position: relative;
  box-sizing: border-box;
  width: 72px;
  height: 72px;
  box-shadow: 0px 1px 2px rgba(0,0,0,0.2);
}
.Definition.Selected .PlotContainer {
  outline: 1px solid #09c;
  box-shadow: 0px 1px 2px rgba(0,0,0,0.5);
}
.Definition .Label {
  width: 72px;
  margin-top: 4px;
  text-align: center;
}
.Divider {
  border-bottom: 1px solid #eee;
}
.AddDefinition {
  margin: 12px;
  width: 72px;
  text-align: center;
}
.PlotContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #faf8f2;
  overflow: hidden;
}
.PointControl {
  position: absolute;
  width: 12px;
  height: 12px;
  margin-left: -6px;
  margin-top: -6px;
  border-radius: 6px;
  background-color: #09c;
  opacity: 0.25;
  z-index: 20;
}
.PointControl:hover {
  opacity: 1;
}
.Outline > .OutlineChildren {
  margin-left: 0px;
}
.OutlineItem.Invisible {
  opacity: 0.25;
}
.OutlineRow {
  position: relative;
}
.OutlineRow.Hovered {
  background-color: #f2f9fc;
}
.OutlineRow.Selected {
  background-color: #d8eff7;
}
.OutlineVisible {
  position: absolute;
  right: 12px;
  line-height: 42px;
  color: #bbb;
  opacity: 0;
}
.OutlineRow:hover .OutlineVisible {
  opacity: 1;
}
.OutlineChildren {
  margin-left: 24px;
}
.OutlineDisclosure {
  display: inline-block;
  vertical-align: middle;
  padding: 6px;
}
.OutlineInternals {
  display: inline-block;
  vertical-align: middle;
  margin: 3px 6px;
}
.OutlineThumbnail {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 36px;
  height: 36px;
  margin: 2px;
  border: 1px solid #eee;
}
.OutlineLabel {
  display: inline-block;
  vertical-align: middle;
  min-width: 30px;
  padding-right: 10px;
}
.Placeholder {
  background-color: #bbb;
  box-shadow: inset 0px 1px 3px rgba(0,0,0,0.5);
}
.Variable {
  padding: 2px 6px;
  text-align: center;
}
.DisclosureTriangle {
  width: 0;
  height: 0;
  margin: 0px 0.804px;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-left: 10.392px solid #ddd;
  transition: -webkit-transform 0.05s;
}
.DisclosureTriangle.Expanded {
  -webkit-transform: rotate(90deg);
}
.DisclosureTriangle.Hidden {
  display: none;
}
.TextButton {
  cursor: pointer;
  font-size: 10px;
}
.TextButton:hover {
  color: #09c;
}
.AddButton {
  width: 18px;
  height: 18px;
  padding: 0;
  line-height: 18px;
  font-size: 9px;
  color: #777;
  font-family: verdana;
  font-weight: bold;
  text-shadow: 0 1px 0 rgba(255,255,255,0.5);
  background-color: #ddd;
  background-image: linear-gradient(to bottom, #eee, #ccc);
  box-shadow: 0 2px 1px rgba(0,0,0,0.16), 0 0 1px rgba(0,0,0,0.5), inset 0 1px 0 rgba(255,255,255,0.55);
  border-radius: 20px;
  border: 0px;
}
.AddButton:before {
  content: "+";
}
.AddButton:hover {
  background-image: linear-gradient(to bottom, #f3f3f3, #d3d3d3);
}
.AddButton:active {
  background-image: linear-gradient(to bottom, #cacaca, #d5d5d5);
  box-shadow: 0 1px 1px rgba(255,255,255,0.35), inset 0 0 1px rgba(0,0,0,0.5), inset 0 1px 4px rgba(0,0,0,0.4);
}
