highlightColor = #09c
plotBackgroundColor = #FAF8F2

pointControlSize = 12px



inline(va)
  display inline-block
  vertical-align va



html, body
  margin 0

body
  font-family "Lucida Sans Unicode", "Lucida Grande", sans-serif
  font-size 12px

canvas
  position absolute
  top 0
  left 0
  width 100%
  height 100%




// ============================================================================
// Main Layout
// ============================================================================

.Definitions
  inline top
  height 100vh

.MainPlot
  inline top
  position relative
  width 100vh
  height 100vh

.Outline
  inline top
  height 100vh


// ============================================================================
// Definitions
// ============================================================================

.Definition
  position relative
  box-sizing border-box
  width 48px
  height 48px
  border 1px solid #ccc
  margin 12px


// ============================================================================
// Main Plot
// ============================================================================

.PlotContainer
  position absolute
  top 0
  left 0
  width 100%
  height 100%
  background-color plotBackgroundColor

.PointControl
  position absolute
  width pointControlSize
  height pointControlSize
  margin-left -0.5 * pointControlSize
  margin-top -0.5 * pointControlSize
  border-radius 0.5 * pointControlSize
  background-color highlightColor
  opacity 0.25
  &:hover
    opacity 1


// ============================================================================
// Outline
// ============================================================================


.Sidebar
  position absolute
  top 0
  left 100vh
  height 100vh


.TextButton
  cursor pointer
  font-size 10px
  &:hover
    color highlightColor

.Reference
  padding 6px 0px
  .Extras
    opacity 0
  &:hover .Extras
    opacity 1

  &.Selected
    background-color tint(highlightColor, 90%)

.TransformLabel
  display inline-block
  min-width 18px
  text-align center

.Variable
  display inline-block
  min-width 48px
  margin-right 6px





