
.icon-eye:before { content: '\e800'; } /* '' */
.icon-pencil:before { content: '\e801'; } /* '' */
.icon-list-add:before { content: '\e802'; } /* '' */
.icon-cog:before { content: '\e803'; } /* '' */
.icon-resize-full-alt:before { content: '\e804'; } /* '' */
.icon-move:before { content: '\e805'; } /* '' */